@charset "utf-8";
/* CSS Document */
.ju-naver {
	margin: 0px auto; width: 100%; height: 50px; position: relative; z-index: 200;
}
.ju-naver .inner {
	margin: 0px auto; width: 940px; height: 50px; position: relative;
}
.ju-naver h1 {
	padding-left: 0px; float: left;
}
.ju-naver h1 a {
	background: url(../images/note.png) no-repeat;
}
.ju-naver h1 .wide {
	background-position: left; width: 150px; height: 50px; display: block; _display: block;
}
.ju-naver h1 .narrow {
	background-position: 0px -257px; width: 250px; height: 50px; display: none;
}

.ju-naver h2 {
	padding-left: 0px; float: left;
}
.ju-naver h2 a {
	background: url(../images/list-logo.png) no-repeat;
}
.ju-naver h2 .wide {
	background-position: left; width: 300px; height: 50px; display: block; _display: block;
}
.ju-naver h2 .narrow {
	background-position: 0px -257px; width: 250px; height: 50px; display: none;
}

.ju-naver .nav-menu {
	height: 50px; float: right;
}
.ju-naver .nav-menu li {
	float: left; position: relative;
}
.ju-naver .nav-menu li i {
	left: 23px; top: 0px; width: 34px; height: 13px; display: inline-block; position: absolute;
}
.ju-naver .nav-menu li:hover {
	background: rgb(51, 153, 255);
}
.ju-naver .nav-menu li .menu-link {
	padding: 0px 16px; outline: 0px; color: rgb(255, 255, 255); line-height: 50px; overflow: hidden; font-size: 15px; font-weight: 700; float: left; white-space: nowrap; position: relative;
}
.ju-naver .nav-menu li .menu-link:hover {
	text-decoration: none;
}
.ju-naver .nav-menu li.more {
	width: 63px;
}
.ju-naver .nav-menu li.more:hover {
	width: 63px;
}
.ju-naver .nav-menu li.current:hover {
	
}
.ju-naver .nav-menu li.more .btn-dropdown {
	border-width: 3px; border-style: solid; border-color: rgb(255, 255, 255) rgb(192, 17, 46) rgb(192, 17, 46);
}
.ju-naver .nav-menu li.more a {
	color: rgb(255, 200, 209);
}
.ju-naver .nav-menu li.current a {
	margin: 0px 2px; padding: 0px 2px;
}
.ju-naver .nav-menu li.current span {
	background: rgb(255, 255, 255); margin: 0px auto; padding: 5px 12px; border-radius: 3px; color: rgb(199, 34, 61);
}
.ju-naver .nav-menu li.current .menu-drops {
	display: none !important;
}
.ju-naver .nav-menu li.expanded .menu-drops {
	display: block;
}
.ju-naver .nav-menu li.current .btn-dropdown {
	border-width: 3px; border-style: solid; border-color: rgb(213, 25, 56) rgb(255, 255, 255) rgb(255, 255, 255); right: 7px; _top: 21px; _right: 10px;
}
.ju-naver .nav-menu li:hover .btn-dropdown {
	border-width: 3px; border-style: solid; border-color: rgb(166, 13, 39) rgb(166, 13, 39) rgb(255, 255, 255); top: 19px;
}
.ju-naver .nav-menu li.current:hover .btn-dropdown {
	border-width: 3px; border-style: solid; border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(166, 13, 39);
}
.ju-naver .nav-menu li.more .menu-drops {
	left: -35px; width: 90px;
}
.ju-naver .nav-menu li.more .menu-drops a {
	text-align: center; color: rgb(213, 25, 56); line-height: 32px; font-size: 14px; display: block;
}

.ju-home .ju-ele-nav {
	margin-left: -548px; _top: 30px; _position: absolute;
}
.ju-home .fixed.ju-ele-nav {
	left: 50%; top: 0px; margin-left: -548px; position: fixed; _position: absolute;
}
.ju-home .ju-naver .inner {
	padding-left: 142px;
}
.ju-home .ju-naver .inner h1 {
	padding: 0px;
}
.ju-home .ju-ele-nav .bt {
	width: 140px; height: 30px; cursor: default;
}
.ju-home .ju-ele-nav .ct {
	padding: 8px 0px 5px; width: 128px; height: auto; overflow: hidden; margin-left: 6px;
}
.ju-home .fixed.ju-ele-nav .ct {
	padding: 0px;
}
.ju-home .ju-ele-nav .non-fixed-logo {
	height: 63px;
}

.btn-dropdown {
	border-width: 3px; border-style: solid; border-color: rgb(255, 255, 255) rgb(213, 25, 56) rgb(213, 25, 56); top: 23px; width: 0px; height: 0px; right: 5px; line-height: 0; font-size: 0px; position: absolute;
}
.ju-cate-narrow {
	margin: 17px auto; border-radius: 4px; border: 1px solid rgb(211, 211, 211); width: 940px; overflow: hidden; display: none; position: relative;
}
.ju-cate-narrow .cate-ad {
	top: 3px; width: 121px; height: 54px; right: 4px; font-size: 0px; position: absolute;
}
.ju-cate-narrow .cate-ad a {
	margin-bottom: 2px; display: block;
}
.ju-cate-narrow .cate-menu {
	background: rgb(255, 255, 255); height: 60px; font-size: 12px;
}
.ju-cate-narrow .cate-menu ul {
	padding: 0px 10px; overflow: hidden; float: left;
}
.ju-cate-narrow .cate-menu ul li {
	margin: 0px 2px; line-height: 30px; float: left; position: relative;
}
.ju-cate-narrow .cate-menu ul li a {
	margin: 0px 5px; color: rgb(100, 75, 79); text-decoration: none;
}
.ju-cate-narrow .cate-menu ul li a:hover {
	background: rgb(255, 241, 208); margin: 0px; padding: 2px 5px; border-radius: 3px; color: rgb(120, 12, 0);
}
.ju-cate-narrow .cate-menu ul li a.on {
	background: rgb(213, 25, 54); padding: 2px 5px; border-radius: 3px; color: rgb(255, 255, 255);
}
.ju-cate-narrow .cate-menu ul li a.on:hover {
	margin: 0px 5px; padding: 2px 5px;
}
.ju-cate-narrow .cate-menu ul li a.citychoose {
	color: rgb(213, 25, 56);
}
.ju-cate-narrow .cate-menu ul li a.citychoose:hover {
	text-decoration: underline;
}
.ju-cate-narrow .cate-menu ul li em {
	color: rgb(164, 164, 164); font-size: 12px; font-style: normal;
}
.ju-cate-narrow .cate-menu .cate-goods {
	height: 30px; overflow: hidden;
}
.ju-cate-narrow .cate-menu .cate-goods h2 {
	width: 77px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; padding-left: 10px; font-weight: 400; float: left;
}
.ju-cate-narrow .cate-menu .cate-goods h2 i {
	width: 4px; height: 30px; float: right;
}
.ju-cate-narrow .cate-menu h2 a {
	color: rgb(255, 255, 255);
}
.ju-cate-narrow .cate-menu h2 a:hover {
	color: rgb(255, 255, 255);
}
.ju-cate-narrow .cate-menu h2 a:visited {
	color: rgb(255, 255, 255);
}
.ju-cate-narrow .cate-menu .cate-life {
	height: 30px; overflow: hidden;
}
.ju-cate-narrow .cate-menu .cate-life h2 {
	width: 77px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; padding-left: 10px; font-weight: 400; float: left;
}
.ju-cate-narrow .cate-menu .cate-life h2 i {
	width: 4px; height: 30px; float: right;
}
.ju-cate-pad {
	border-width: 1px 0px 0px; margin: 0px; border-radius: 0px; left: 0px; width: 100%; bottom: 0px; border-top-color: rgba(0, 0, 0, 0.5); border-top-style: solid; position: fixed; z-index: 1000; box-shadow: 0px 0px 19px 6px rgba(0,0,0,0.5);
}
.ju-cate-pad .cate-ad {
	right: 87px; display: none;
}
.ju-cate-pad .cate-menu ul li a {
	font-size: 14px; margin-left: 10px;
}
.pad-backtotop {
	width: 43px; height: 59px; right: 0px; bottom: 0px; display: inline-block; position: fixed; z-index: 1020;
}
.nav-menu .menu-drops {
	background: rgb(255, 255, 255); padding: 10px 5px 5px; left: -70px; top: 48px; width: 220px; display: none; position: absolute; box-shadow: 0px 5px 20px -3px #666;
}
.nav-menu .menu-drops .pointer {
	background: rgb(166, 13, 39); left: 0px; top: 0px; width: 100%; height: 4px; position: absolute;
}
.nav-menu .menu-drops .tit {
	background: rgb(255, 237, 210); padding: 0px 10px; height: 24px; text-align: right; color: rgb(185, 18, 46); line-height: 24px;
}
.nav-menu .menu-drops .tit h4 {
	float: left;
}
.nav-menu .menu-brands .menu-drops .tit {
	display: none;
}
.nav-menu .menu-drops .list {
	padding: 10px; line-height: 28px;
}
.nav-menu .menu-drops .list a {
	margin: 0px 6px 0px 0px; color: rgb(79, 79, 79); line-height: 28px; font-size: 12px; float: none; display: inline; white-space: nowrap; position: static; -ms-word-break: normal; -ms-word-wrap: normal;
}
.nav-menu .menu-drops .list a:hover {
	color: rgb(199, 34, 61); text-decoration: underline;
}
.nav-menu .menu-drops .tit a {
	margin: 0px; color: rgb(79, 79, 79); line-height: 18px; font-size: 12px; float: none;
}
.nav-menu .menu-brands .menu-drops {
	left: -200px; width: 466px;
}
.nav-menu .menu-brands .list a {
	margin: 0px; padding: 4px 2px; display: inline-block;
}
.nav-menu .menu-brands .list a img {
	width: 66px; height: 27px;
}
.nav-menu .menu-brands .list a:hover {
	padding: 2px 0px;
}
.nav-menu .menu-brands .list a:hover img {
	width: 70px; height: 29px;
}